* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

#header{
    background-color: #5d4b41;
    padding: 15px;
    background-image: url(../imagenes/cuaderno.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    padding: 0px;
}

#header .logo img{
    padding: 10px;
    width: 150px;
}

.header-contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    position: sticky;
    position: fixed;
    top: 0px;
    background-color: #5d4b41;
    width: 100%;
    animation: header-contenedor 2s;
}

@keyframes header-contenedor{
    from{
        opacity: 0;
    }

    to{
        opacity:2;
    }
}

#header nav ul{
    text-decoration: none;
    list-style: none;
    padding: 10px;
}

#header nav ul li a{
    text-decoration: none;
    color: white;
}

.unPocoDeNosotros .presentacion{
    padding: 20px;
    background-image: url(../imagenes/reunion3.jpg);
    background-size: cover;
    margin: 5px;
    color: white;
    background-attachment: scroll;
}

.unPocoDeNosotros .presentacion p{
    background-color: #5d4b41a8;
    padding: 10px;
    font-size: 20px;
}

.unPocoDeNosotros .imgReunion{
    display: none;
}

.h22{
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.equipo-flex{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin: auto;
    align-items: center;

}

.equipo-flex .flexImg{
    width: 330px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.02);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.equipo-flex .flexImg:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);

}

.flexImg{
    display: flex;
    flex-direction: column;
}

.equipo-boton{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.76);
    margin-bottom: 15px;
    font-size: 20px;
}

.flexImg h3{
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 15px;
} 

.flexImg a img{

    width: 80%;
    margin-bottom: 20px; 

}

.flexImg a .linkedin{
    width: 7%;
}

.contactanos{
    background-image: url(../imagenes/contrato\ 2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 5px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.button {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: black;
    z-index: 1;

}

.button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
     height: 180%;
     background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.2s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #5d4b41;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button:hover {
    color: #ffffff;
    border: 1px solid white;
}

.button:hover:before {
    top: -35%;
    background-color: #5d4b41;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
    top: -45%;
    background-color: #5d4b41;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.pie{
    margin: 5px;
    padding: 10px;
    border: 5px solid #5d4b41;
}

.pie .pie-contenedor{
    display: grid;
    grid-template-columns: 1fr;
    
}

.pie-direccion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.596);
}

.pie-direccion h4{
    margin-bottom: 10px;
    font-size: 30px;
}

.pie-direccion .pie-iframe{
    margin-bottom: 20px;
}

.pie-correo{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.596);
}

.pie-correo a{
    text-decoration: none;
    color:#5d4b41;
    font-size: 30px;
}

.pie-correo .pie-texto{
    margin-bottom: 30px;
}

.pie-correo a img{
    width: 10%;
}

.pie .pie-logo{
    text-align: center;
}

.pie-logo img{
    width: 30%;
    margin-top: 40px;
    justify-content: center;
}


/* NOSOTROS */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */


.historia{
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    border: 10px solid #5d4b41;
    padding: 15px;

}

.historia-titulo h2{
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
}

.historia-p p{
    font-size: 20px;
    margin-bottom: 20px;
}

#header .titulo{
    display: flex;
    justify-content: center;
    animation: titulo 3s;
}

@keyframes titulo{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

#header .titulo-pagina2{
    color: white;
    font-size: 80px;
    padding-top: 40vh;
}

.historia-p{
    border-top: 1px solid black;
    padding-top: 20px;
}




/* EQUIPO */


#header .titulo-pagina3{
    color: white;
    font-size: 80px;
    padding-top: 40vh;
}

.equipo{
    display: grid;
    grid-template-columns: 1fr;
}

.imgPerfil{
    width: 60%;
    margin-bottom: px;
}

.equipo-perfil{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    border: 10px solid #5d4b41;
}

.equipo-perfil p{
    color: black;
    font-weight: 600;
    margin: 20px;
}

.equipo-mobile{
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 50px;
}

.equipo-desktop{
    display: none;
}




/* SERVICIOS */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */


#header .titulo-pagina4{
    color: white;
    font-size: 80px;
    padding-top: 40vh;
}

.servicios{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    width: auto;
}

.servicios-1{
    text-align: center;
    border: 1px solid #5d4b41;
    background-color: #ffffff;
    height: auto;
    width: 300px;
    margin: 20px 0;
    padding: 10px;
}

.servicios-grid h3{
    margin-bottom: 10px;
    margin-top: 10px;
}

.servicios-grid p{
    margin-bottom: 20px;
}

.servicios-3{
    margin-bottom: 20px;
}

/* CONTACTO */  /*  */ /*  */ /*  */ /*  */ /*  */ /*  */
/*  */ /*  */ /*  */ /*  */ /*  */ /*  *//*  */ /*  */ /*  */


#header .titulo-pagina5{
    color: white;
    font-size: 80px;
    padding-top: 40vh;
}

.contenedor-formulario .formulario .form-header .form-titulo{
    color: white;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.contenedor-formulario{
    padding: 20px;
    text-align: center;
}

.contenedor-formulario .formulario{
    background-color: #5d4b4171;
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 30px;
    border-radius: 3px;
}

.contenedor-formulario .form-label{
    display: block;
    color: white;
    font-size: 20px;
    position: relative;
    font-weight: bolder;
    padding-bottom: 5px;
}

.contenedor-formulario .formulario .form-input, .form-textarea{
      background-color: rgba(0, 0, 0, 0.301);
      border: none;
      outline: none;
      border-bottom: 2px solid white;
      width: 100%;
      padding: 12px;
      margin-bottom: 20px;
      border-radius: 2px;
      font-size: 18px;
      color: white;
}

.contenedor-formulario .formulario .form-textarea{
    resize: vertical;
    height: 200px;
    max-height: 300px;
    min-height: 50px;
}

.contenedor-formulario .formulario .form-boton{
    width: 100%;
    outline: none;
    background-color: #5d4b41;
    font-size: 16px;
    color: white;
    padding: 15px 0;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor-formulario .formulario .form-boton:hover{
    background-color: #5d4b41c2;
}

.info-formas{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

.info-direccion, .info-wp, .info-telefono{
    font-size: 25px;
    margin: 20px 0;
    margin-top: 80px;
    display: grid;
    justify-items: center;
}

.info-direccion{
    text-align: center;
}

.info-direccion .info-img{
    width: 18%;
}

.info-wp .info-img{
    width: 25%;
}

.info-telefono .info-img{
    width: 20%;
}

.info-formas a{
    color: black;
    text-decoration: none;
}

.info{
    background-color: #5d4b41;
}

.info-telefono{
    margin-bottom: 90px;
}

.info-direccion{
   margin-top: 70px;
}

.info-prueba{
    background-color: white;
    width: 70%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 48% 52% 31% 69% / 68% 33% 67% 32%;
}







/* RESPONSIVE  */  /*  */ /*  */ /*  */ /*  */ /*  */ /*  */
/*  */ /*  */ /*  */ /*  */ /*  */ /*  *//*  */ /*  */ /*  */



@media screen and (min-width: 768px) {  /* TABLET */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */

    #header .logo img{
        width: 150px;
    }

    #header nav ul{
        display: flex;
    }

    #header nav ul li a{
        padding-right: 15px;
        font-size: 20px;
        padding: 20px;
    }

    .unPocoDeNosotros{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        background-color: #5d4b41;
    }

    .unPocoDeNosotros .presentacion{
        background-image: none;
    }

    .unPocoDeNosotros .presentacion p{
        padding: 10px;
        font-size: 20px;
    }

    .unPocoDeNosotros .imgReunion img{
        width: 80%;
        padding: 10px;
    }

    .unPocoDeNosotros .imgReunion{
        display:contents;
        width: 100%;

    }
    
    .equipo-flex{
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        height: auto;
    }

    .flexImg a img{
        width: 80%;
    }


/* Nosotros */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */

    #header .titulo-pagina2{
        text-align: center;
        color: white;
        font-size: 120px;
        padding-top: 45vh;
    }
    
/* Equipo */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */

    #header .titulo-pagina3{
        text-align: center;
        color: white;
        font-size: 120px;
        padding-top: 45vh;
    }

    .imgPerfil{
        width: 50%;
        margin-bottom: 20px;
    }

/* Servicios */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */

    #header .titulo-pagina4{
        text-align: center;
        color: white;
        font-size: 120px;
        padding-top: 45vh;
    }

   .servicios{
        grid-template-columns: 1fr 1fr;
    }

    .servicios-1:nth-child(5){
        grid-column: 1/3;
    }

/* Contacto */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */

    #header .titulo-pagina5{
        text-align: center;
        color: white;
        font-size: 120px;
        padding-top: 45vh;
    }

/* Contacto */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */

    .info-formas{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .info-prueba{
        padding: 10px;
        width: 70%;
        height: 200px;
        display: flex;
        border-radius: 10px;
    }

    .info-direccion{
        margin-top: 80px;
    }

    .info-direccion .info-img{
        width: 35%;
    }

    .info-wp .info-img{
        width: 50%;
    }

    .info-telefono .info-img{
        width: 50%;
    }


}





@media screen and (min-width: 1000px){ /* DESKTOP */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */

    #header .logo img{
        width: 150px;
    }

    #header nav ul li a{
        font-size: 20px;
        padding: 20px;
    }

    .unPocoDeNosotros{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        background-color: #5d4b41;
    }

    .unPocoDeNosotros .imgReunion img{
        width: 40%;
        padding: 10px;
    }

    .equipo-flex{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        height: 500px;
    }

    .flexImg a img{
        width: 80%;
        
    }

    .pie .pie-contenedor{
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }

    .pie-logo img{
        margin-top: 0px;
    }

    .pie-correo{
        border-bottom: hidden;
    }

    .pie-direccion{
        border-bottom: hidden;
    }
    
    .pie-correo{
        border-left: 1px solid black;
        margin-top: 0px;
    }

    .pie-logo{
        border-left: 1px solid black;
    }

    .pie-logo img{
        width: 100%px;
    }

    .pie-correo .pie-texto{
        margin-bottom: 0px;
    }


/* Nosotros */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */

    #header .titulo-pagina2{
        text-align: center;
        color: white;
        padding-top: 25vh;
        font-size: 150px;
    }

/* Equipo */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */

    #header .titulo-pagina3{
        text-align: center;
        color: white;
        padding-top: 25vh;
        font-size: 150px;
    }

    .equipo-perfil{
        display: flex;
        flex-direction: row;
        text-align: center;
    }

    .equipo-mobile{
        display: none;
    }

    .equipo-desktop{
        display: block;
        margin: 20px;
        font-size: 40px;
    }

    .equipo-descripcion{
        display: flex;
        flex-direction: column;
    }

    .equipo-descripcion p{
        text-align: start;
        
    }

    .imgPerfil{
        width: 100%;
        margin: 10px;
        width: 400px;
    }

/* Servicios */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */

    #header .titulo-pagina4{
        text-align: center;
        color: white;
        padding-top: 25vh;
        font-size: 150px;
    }

    .servicios{
        grid-template-columns: 1fr 1fr;
        
        margin: auto;
    }

    .servicios-1:nth-child(5){
        grid-column: 1/3;
    }

/* Contacto */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */

     #header .titulo-pagina5{
        text-align: center;
        color: white;
        padding-top: 25vh;
        font-size: 150px;
    }

    .info{
        background-color: white;
        width: 630px;
        margin: auto;
    }

    .info-formas{
        justify-items: center;
        margin: auto;
    }

    .info-prueba{
        padding: 10px;
        width: 70%;
        height: 200px;
        display: flex;
        border-radius: 10px;
    }

    .info-direccion{
        margin-top: 80px;
    }

    .info-direccion .info-img{
        width: 30%;
    }

    .info-wp .info-img{
        width: 60%;
    }

    .info-telefono .info-img{
        width: 50%;
    }

}
