
$comunicacion: (
    direccion: red,
    whatsapp: blue,
    telefono: lightblue,
);

@mixin info {
    font-size: 25px;
}

.info-direccionn{
    background: map-get($comunicacion, direccion);
    @include info;

}

.info-wps{
    background: map-get($comunicacion, whatsapp);
    @include info;
}

.info-telefon{
    background: map-get($comunicacion, telefono);
    @include info;
}